<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

{% schema %}
{
  "name": "Bargain Button",
  "target": "section",
  "stylesheet": "bargain-box.css",
  "javascript": "bargain-box.js",
  "settings": [
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#1976d2"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Bargain & Buy"
    }
  ]
}
{% endschema %}

{% assign buttonColor = block.settings.button_color %}
{% assign buttonText = block.settings.button_text %}

<button class="bargain-buy-button button button--full-width" style="background-color: {{ buttonColor }};">{{ buttonText }}</button>

<div id="modal-container" class="modal-container">
      <div class="chatbot-header">
        <span class="chatbot-logo">
          <svg height="42px" width="42px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-133.12 -133.12 778.24 778.24" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="8.192">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            
            <g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#000000;} </style> <g> <path class="st0" d="M496.583,162.408c-2.514-8.24-7.904-14.595-13.992-17.764c-6.096-3.238-12.829-3.332-18.581-0.379 c-5.794,2.962-9.678,8.206-11.805,13.906c-2.092,5.734-2.454,11.951-0.611,17.978c3.917,11.668,6.208,23.92,6.768,36.354 c0.568,12.442-0.569,24.979-3.444,37.136c-5.7,24.342-18.496,47.194-36.578,65.104c-18.012,17.961-41.218,30.885-66.36,36.594 c-12.554,2.884-25.616,3.995-38.592,3.332c-12.976-0.654-25.874-3.151-38.256-7.396c-4.081-1.533-8.361-1.533-12.21-0.276 c-3.84,1.258-7.276,3.78-9.204,7.543c-1.912,3.762-1.86,8.093,0.052,12.046c1.903,3.943,5.683,7.465,10.677,9.325 c14.793,5.89,30.481,9.721,46.402,11.296c15.938,1.576,32.091,0.982,47.969-1.86c31.764-5.623,61.995-20.492,86.13-42.354 c24.212-21.784,42.38-50.586,51.456-82.35c4.564-15.869,6.898-32.41,6.94-48.942C503.386,195.136,501.131,178.474,496.583,162.408z "/> <path class="st0" d="M53.638,299.494c-0.576-12.45,0.569-24.979,3.436-37.136c5.7-24.334,18.504-47.194,36.568-65.104 c18.022-17.961,41.236-30.894,66.37-36.594c12.554-2.884,25.616-3.995,38.592-3.341c12.976,0.663,25.874,3.16,38.256,7.414 c4.09,1.516,8.361,1.516,12.218,0.267c3.849-1.257,7.276-3.78,9.196-7.551c1.912-3.754,1.86-8.094-0.052-12.047 c-1.903-3.934-5.674-7.464-10.677-9.325c-14.784-5.881-30.472-9.712-46.41-11.288c-15.912-1.576-32.082-0.991-47.96,1.86 c-31.763,5.622-61.994,20.484-86.13,42.354c-24.212,21.784-42.371,50.586-51.456,82.35c-4.572,15.87-6.888,32.402-6.931,48.942 c-0.061,16.558,2.204,33.228,6.759,49.294c2.506,8.232,7.896,14.595,13.983,17.764c6.096,3.238,12.821,3.332,18.581,0.379 c5.803-2.962,9.678-8.206,11.805-13.906c2.101-5.743,2.462-11.952,0.611-17.978C56.48,324.18,54.198,311.928,53.638,299.494z"/> <path class="st0" d="M284.647,46.684c24.092,4.83,47.125,16.713,65.302,33.865c18.228,17.1,31.626,39.616,38.101,64.225 c6.544,24.582,6.131,51.145-1.498,75.771c-3.772,12.313-9.342,24.178-16.412,35.088c-7.052,10.9-15.671,20.837-25.53,29.422 c-3.367,2.781-5.502,6.484-6.346,10.454c-0.826,3.952-0.362,8.18,1.938,11.726c2.299,3.539,6.079,5.666,10.462,5.984 c4.357,0.328,9.299-1.179,13.406-4.581c12.493-9.867,23.653-21.535,32.987-34.545c9.334-13.002,16.894-27.295,22.37-42.466 c11.004-30.316,13.251-63.932,6.389-95.774c-6.768-31.858-22.628-61.986-45.601-85.734c-11.452-11.891-24.608-22.172-38.91-30.473 c-14.319-8.335-29.878-14.706-46.066-18.787c-8.395-1.946-16.592-0.465-22.379,3.22c-5.855,3.668-9.299,9.437-9.626,15.903 c-0.327,6.51,2.273,12.486,6.148,17.178C273.299,41.844,278.499,45.271,284.647,46.684z"/> <path class="st0" d="M227.345,465.313c-24.092-4.83-47.125-16.721-65.293-33.873c-18.236-17.1-31.626-39.608-38.109-64.217 c-6.544-24.582-6.13-51.154,1.498-75.78c3.78-12.296,9.342-24.169,16.402-35.079c7.061-10.909,15.672-20.846,25.539-29.43 c3.367-2.781,5.502-6.475,6.346-10.445c0.826-3.96,0.362-8.188-1.938-11.736c-2.29-3.539-6.078-5.657-10.462-5.984 c-4.356-0.319-9.29,1.188-13.406,4.589c-12.494,9.867-23.652,21.535-32.986,34.536c-9.325,13.011-16.893,27.295-22.37,42.476 c-11.012,30.316-13.26,63.924-6.389,95.765c6.759,31.858,22.619,61.986,45.592,85.742c11.452,11.883,24.617,22.163,38.919,30.472 c14.32,8.326,29.878,14.706,46.066,18.796c8.386,1.937,16.584,0.456,22.378-3.229c5.846-3.668,9.29-9.437,9.626-15.912 c0.327-6.501-2.273-12.476-6.139-17.17C238.685,470.144,233.501,466.725,227.345,465.313z"/> <path class="st0" d="M55.222,131.729c5.46,3.53,11.943,4.27,17.945,3.254c6.018-1.042,11.581-3.84,15.886-8.456 c8.146-9.231,17.6-17.342,28.088-24.032c10.496-6.725,21.913-11.994,33.89-15.593c23.928-7.225,50.113-7.578,74.661-0.878 c24.566,6.621,47.366,20.26,64.879,39.177c8.774,9.437,16.265,20.183,22.189,31.756c5.907,11.564,10.203,23.989,12.709,36.826 c0.724,4.305,2.859,8.008,5.872,10.721c3.005,2.694,6.914,4.408,11.133,4.184c4.211-0.215,7.948-2.428,10.41-6.062 c2.463-3.608,3.625-8.645,2.738-13.906c-2.299-15.748-6.82-31.247-13.424-45.833c-6.604-14.586-15.189-28.285-25.59-40.616 c-20.76-24.686-48.735-43.439-79.75-53.419c-30.972-10.066-64.992-11.391-97.048-3.375c-16.015,3.969-31.506,10.23-45.842,18.461 c-14.38,8.24-27.683,18.529-39.324,30.498c-5.872,6.302-8.68,14.138-8.387,21C46.509,122.334,49.789,128.207,55.222,131.729z"/> <path class="st0" d="M456.761,380.268c-5.459-3.53-11.934-4.27-17.935-3.254c-6.02,1.05-11.581,3.84-15.878,8.456 c-16.23,18.444-38.049,32.444-61.986,39.616c-23.928,7.234-50.113,7.577-74.661,0.887c-24.574-6.62-47.375-20.268-64.88-39.186 c-8.774-9.428-16.265-20.183-22.189-31.747c-5.907-11.564-10.203-23.988-12.709-36.835c-0.723-4.306-2.858-7.999-5.881-10.712 c-3.005-2.694-6.906-4.408-11.134-4.193c-4.201,0.216-7.938,2.437-10.4,6.07c-2.472,3.608-3.626,8.645-2.739,13.898 c2.308,15.757,6.819,31.256,13.424,45.842c6.595,14.577,15.188,28.285,25.59,40.607c20.751,24.695,48.735,43.439,79.75,53.419 c30.963,10.074,64.992,11.4,97.04,3.384c32.056-7.956,61.848-24.971,85.174-48.959c5.872-6.303,8.679-14.138,8.386-21.001 C465.474,389.663,462.211,383.79,456.761,380.268z"/> </g> </g>
            
            </svg> <span class="chatbot-name">Open Price</span>
        </span>
        <span class="close-icon">&times;</span>
      </div>
      <div class="chatbot-body-wrapper">
        <div class="chatbot-body">
        </div>
      </div>
    <div class="chatbot-footer">
      <form class="chatbot-input-form">
        <input type="text" id="user-input" class="user-input" placeholder="My Offer is ..." />
        <button id="send-btn" class="send-btn">
          <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
          <svg class="send-icon" id="send-icon" width="24px" height="24px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
            <title>send-solid</title>
            <g id="Layer_2" data-name="Layer 2">
              <g id="invisible_box" data-name="invisible box">
                <rect width="48" height="48" fill="none"/>
              </g>
              <g id="icons_Q2" data-name="icons Q2">
                <path d="M44.9,23.2l-38-18L6,5A2,2,0,0,0,4,7L9.3,23H24a2.1,2.1,0,0,1,2,2,2,2,0,0,1-2,2H9.3L4,43a2,2,0,0,0,2,2l.9-.2,38-18A2,2,0,0,0,44.9,23.2Z"/>
              </g>
            </g>
          </svg>
        </button>
      </form>
    </div>    
      <!-- "Powered by OpenPrice" text directly below the button -->
      <div class="powered-by">
        Bargaining by 
        <svg height="10px" width="10px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
          viewBox="0 0 512 512"  xml:space="preserve">
          <style type="text/css">
          .st0{fill:#000000;}
          </style>
          <g>
          <path class="st0" d="M168.203,192.082c4.093,0.046,7.798-2.039,10.634-5.216c2.822-3.202,4.79-7.504,5.41-12.379
            c2.806-16.72,8.294-32.85,16.154-47.608c7.875-14.766,18.091-28.16,30.074-39.554c11.983-11.394,25.718-20.78,40.477-27.717
            c14.758-6.945,30.524-11.434,46.491-13.278c7.085-1.132,13.316-4.147,18.122-8.433c4.775-4.279,8.123-9.874,8.232-16.169
            c0.124-6.27-3.255-12.084-9.348-16.006c-6.061-3.923-14.836-5.844-24.137-4.356C289.71,5.287,269.836,12.58,251.76,22.758
            c-18.091,10.177-34.431,23.222-48.228,38.414c-13.828,15.176-25.129,32.516-33.361,51.112
            c-8.248,18.587-13.394,38.437-15.27,58.467c-0.744,5.813,0.527,11.254,3.023,15.115C160.42,189.742,164.11,192.028,168.203,192.082
            z"/>
          <path class="st0" d="M343.797,319.922c-4.092-0.054-7.797,2.039-10.634,5.217c-2.838,3.201-4.791,7.495-5.426,12.378
            c-2.791,16.72-8.294,32.842-16.154,47.608c-7.86,14.758-18.076,28.16-30.059,39.546c-11.984,11.402-25.734,20.788-40.476,27.726
            c-14.758,6.945-30.524,11.425-46.491,13.277c-7.085,1.124-13.317,4.139-18.138,8.426c-4.759,4.287-8.108,9.882-8.216,16.177
            c-0.124,6.263,3.255,12.076,9.348,15.998c6.046,3.922,14.836,5.845,24.137,4.364c20.602-3.922,40.461-11.215,58.552-21.4
            c18.092-10.178,34.431-23.215,48.227-38.415c13.828-15.177,25.114-32.508,33.362-51.104c8.247-18.594,13.394-38.437,15.27-58.467
            c0.744-5.813-0.527-11.262-3.023-15.115C351.564,322.255,347.875,319.977,343.797,319.922z"/>
          <path class="st0" d="M88.63,258.464c11.968,16.44,26.586,30.834,42.988,42.461c4.65,3.557,10.014,5.177,14.603,4.937
            c4.604-0.225,8.433-2.279,10.511-5.782c2.093-3.518,2.155-7.774,0.806-11.813c-1.348-4.062-4.092-7.906-7.999-10.89
            c-13.084-10.782-24.308-23.603-33.159-37.794c-8.852-14.2-15.348-29.741-19.223-45.817c-3.876-16.076-5.132-32.663-3.767-48.918
            c1.364-16.238,5.364-32.136,11.75-46.902c2.574-6.704,3.07-13.596,1.752-19.905c-1.318-6.27-4.496-11.968-9.875-15.216
            c-5.379-3.24-12.092-3.216-18.541,0.101c-6.418,3.279-12.48,9.922-15.843,18.711c-6.899,19.812-10.526,40.663-10.743,61.42
            c-0.232,20.758,2.899,41.422,9.146,60.971C67.267,223.583,76.631,242.038,88.63,258.464z"/>
          <path class="st0" d="M423.371,253.534c-11.968-16.432-26.586-30.826-42.988-42.454c-4.666-3.558-10.03-5.185-14.604-4.945
            c-4.619,0.224-8.433,2.287-10.525,5.79c-2.093,3.512-2.14,7.775-0.791,11.813c1.349,4.053,4.092,7.906,7.999,10.89
            c13.084,10.775,24.308,23.603,33.159,37.795c8.852,14.192,15.347,29.733,19.207,45.817c3.892,16.068,5.147,32.663,3.767,48.91
            c-1.364,16.247-5.348,32.136-11.735,46.903c-2.573,6.704-3.069,13.603-1.767,19.913c1.333,6.263,4.496,11.96,9.89,15.216
            c5.363,3.232,12.092,3.217,18.525-0.109c6.434-3.271,12.495-9.914,15.859-18.711c6.898-19.804,10.51-40.663,10.743-61.412
            c0.233-20.758-2.898-41.423-9.146-60.978C444.733,288.414,435.354,269.966,423.371,253.534z"/>
          <path class="st0" d="M232.724,386.179c5.395-2.256,9.487-6.085,11.58-10.185c2.108-4.1,2.232-8.433,0.232-11.991
            c-1.999-3.574-5.658-5.744-9.828-6.604c-4.186-0.852-8.884-0.411-13.425,1.488c-15.89,5.938-32.602,9.247-49.313,9.813
            c-16.728,0.574-33.424-1.573-49.282-6.262c-15.86-4.674-30.866-11.883-44.244-21.192c-13.394-9.309-25.161-20.71-34.756-33.624
            c-4.528-5.573-10.248-9.456-16.356-11.48c-6.092-1.984-12.618-2.085-18.122,0.961c-5.488,3.031-8.836,8.86-9.177,16.099
            c-0.372,7.193,2.341,15.766,8.278,23.076c13.704,15.882,29.951,29.439,47.825,40.02c17.859,10.58,37.314,18.207,57.374,22.563
            c20.045,4.38,40.709,5.488,60.924,3.326C194.665,400.03,214.431,394.566,232.724,386.179z"/>
          <path class="st0" d="M503.688,175.72c-13.704-15.882-29.966-29.439-47.825-40.012c-17.858-10.587-37.313-18.207-57.374-22.563
            c-20.06-4.38-40.709-5.496-60.94-3.326c-20.215,2.155-39.996,7.612-58.273,16.006c-5.395,2.256-9.487,6.076-11.58,10.178
            c-2.108,4.1-2.232,8.44-0.248,11.999c1.999,3.573,5.674,5.743,9.844,6.596c4.185,0.853,8.882,0.411,13.425-1.488
            c15.874-5.937,32.602-9.239,49.313-9.813c16.712-0.574,33.423,1.581,49.282,6.27c15.874,4.674,30.865,11.875,44.244,21.184
            c13.394,9.309,25.16,20.711,34.756,33.632c4.512,5.565,10.232,9.448,16.355,11.472c6.092,1.984,12.619,2.093,18.122-0.954
            c5.488-3.038,8.836-8.859,9.177-16.099C512.339,191.601,509.61,183.036,503.688,175.72z"/>
          </g>
       </svg>
        <span class="marketing">Open Price</span>
      </div>
    </div>
    <!-- "Powered by OpenPrice" text directly below the button -->
    <div class="powered-by">
      Powered by 
      <svg height="10px" width="10px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 512 512"  xml:space="preserve">
     <style type="text/css">
       .st0{fill:#000000;}
     </style>
     <g>
       <path class="st0" d="M168.203,192.082c4.093,0.046,7.798-2.039,10.634-5.216c2.822-3.202,4.79-7.504,5.41-12.379
         c2.806-16.72,8.294-32.85,16.154-47.608c7.875-14.766,18.091-28.16,30.074-39.554c11.983-11.394,25.718-20.78,40.477-27.717
         c14.758-6.945,30.524-11.434,46.491-13.278c7.085-1.132,13.316-4.147,18.122-8.433c4.775-4.279,8.123-9.874,8.232-16.169
         c0.124-6.27-3.255-12.084-9.348-16.006c-6.061-3.923-14.836-5.844-24.137-4.356C289.71,5.287,269.836,12.58,251.76,22.758
         c-18.091,10.177-34.431,23.222-48.228,38.414c-13.828,15.176-25.129,32.516-33.361,51.112
         c-8.248,18.587-13.394,38.437-15.27,58.467c-0.744,5.813,0.527,11.254,3.023,15.115C160.42,189.742,164.11,192.028,168.203,192.082
         z"/>
       <path class="st0" d="M343.797,319.922c-4.092-0.054-7.797,2.039-10.634,5.217c-2.838,3.201-4.791,7.495-5.426,12.378
         c-2.791,16.72-8.294,32.842-16.154,47.608c-7.86,14.758-18.076,28.16-30.059,39.546c-11.984,11.402-25.734,20.788-40.476,27.726
         c-14.758,6.945-30.524,11.425-46.491,13.277c-7.085,1.124-13.317,4.139-18.138,8.426c-4.759,4.287-8.108,9.882-8.216,16.177
         c-0.124,6.263,3.255,12.076,9.348,15.998c6.046,3.922,14.836,5.845,24.137,4.364c20.602-3.922,40.461-11.215,58.552-21.4
         c18.092-10.178,34.431-23.215,48.227-38.415c13.828-15.177,25.114-32.508,33.362-51.104c8.247-18.594,13.394-38.437,15.27-58.467
         c0.744-5.813-0.527-11.262-3.023-15.115C351.564,322.255,347.875,319.977,343.797,319.922z"/>
       <path class="st0" d="M88.63,258.464c11.968,16.44,26.586,30.834,42.988,42.461c4.65,3.557,10.014,5.177,14.603,4.937
         c4.604-0.225,8.433-2.279,10.511-5.782c2.093-3.518,2.155-7.774,0.806-11.813c-1.348-4.062-4.092-7.906-7.999-10.89
         c-13.084-10.782-24.308-23.603-33.159-37.794c-8.852-14.2-15.348-29.741-19.223-45.817c-3.876-16.076-5.132-32.663-3.767-48.918
         c1.364-16.238,5.364-32.136,11.75-46.902c2.574-6.704,3.07-13.596,1.752-19.905c-1.318-6.27-4.496-11.968-9.875-15.216
         c-5.379-3.24-12.092-3.216-18.541,0.101c-6.418,3.279-12.48,9.922-15.843,18.711c-6.899,19.812-10.526,40.663-10.743,61.42
         c-0.232,20.758,2.899,41.422,9.146,60.971C67.267,223.583,76.631,242.038,88.63,258.464z"/>
       <path class="st0" d="M423.371,253.534c-11.968-16.432-26.586-30.826-42.988-42.454c-4.666-3.558-10.03-5.185-14.604-4.945
         c-4.619,0.224-8.433,2.287-10.525,5.79c-2.093,3.512-2.14,7.775-0.791,11.813c1.349,4.053,4.092,7.906,7.999,10.89
         c13.084,10.775,24.308,23.603,33.159,37.795c8.852,14.192,15.347,29.733,19.207,45.817c3.892,16.068,5.147,32.663,3.767,48.91
         c-1.364,16.247-5.348,32.136-11.735,46.903c-2.573,6.704-3.069,13.603-1.767,19.913c1.333,6.263,4.496,11.96,9.89,15.216
         c5.363,3.232,12.092,3.217,18.525-0.109c6.434-3.271,12.495-9.914,15.859-18.711c6.898-19.804,10.51-40.663,10.743-61.412
         c0.233-20.758-2.898-41.423-9.146-60.978C444.733,288.414,435.354,269.966,423.371,253.534z"/>
       <path class="st0" d="M232.724,386.179c5.395-2.256,9.487-6.085,11.58-10.185c2.108-4.1,2.232-8.433,0.232-11.991
         c-1.999-3.574-5.658-5.744-9.828-6.604c-4.186-0.852-8.884-0.411-13.425,1.488c-15.89,5.938-32.602,9.247-49.313,9.813
         c-16.728,0.574-33.424-1.573-49.282-6.262c-15.86-4.674-30.866-11.883-44.244-21.192c-13.394-9.309-25.161-20.71-34.756-33.624
         c-4.528-5.573-10.248-9.456-16.356-11.48c-6.092-1.984-12.618-2.085-18.122,0.961c-5.488,3.031-8.836,8.86-9.177,16.099
         c-0.372,7.193,2.341,15.766,8.278,23.076c13.704,15.882,29.951,29.439,47.825,40.02c17.859,10.58,37.314,18.207,57.374,22.563
         c20.045,4.38,40.709,5.488,60.924,3.326C194.665,400.03,214.431,394.566,232.724,386.179z"/>
       <path class="st0" d="M503.688,175.72c-13.704-15.882-29.966-29.439-47.825-40.012c-17.858-10.587-37.313-18.207-57.374-22.563
         c-20.06-4.38-40.709-5.496-60.94-3.326c-20.215,2.155-39.996,7.612-58.273,16.006c-5.395,2.256-9.487,6.076-11.58,10.178
         c-2.108,4.1-2.232,8.44-0.248,11.999c1.999,3.573,5.674,5.743,9.844,6.596c4.185,0.853,8.882,0.411,13.425-1.488
         c15.874-5.937,32.602-9.239,49.313-9.813c16.712-0.574,33.423,1.581,49.282,6.27c15.874,4.674,30.865,11.875,44.244,21.184
         c13.394,9.309,25.16,20.711,34.756,33.632c4.512,5.565,10.232,9.448,16.355,11.472c6.092,1.984,12.619,2.093,18.122-0.954
         c5.488-3.038,8.836-8.859,9.177-16.099C512.339,191.601,509.61,183.036,503.688,175.72z"/>
     </g>
     </svg>
      <span class="marketing">Open Price</span>
    </div>
  </div>
  